In [1]:
# Import library
import pandas as pd
import numpy as np

In [2]:
# Q1. Pandas Version
pd.__version__

'2.2.3'

In [3]:
# Load data
df= pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [4]:
# Display first 5 rows
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [5]:
# Q2 Records Count
df.shape[0]

2160

In [6]:
# Q3 Laptop Brands
df['Brand'].nunique()

27

In [7]:
# Q4 Missing values
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

3

In [8]:
# Q5 Maximum final price
# filter for dell brand 
dell = df[df['Brand'] == "Dell"]
# Get the max price of the dell 
final_price = dell['Final Price'].max()
print(final_price)

3936.0

In [9]:
# Q6 Median value of screen 

# Median of screen
screen_mid = df['Screen'].median()
print(screen_mid)

# Screen mode
screen_mod = df['Screen'].mode()
print(screen_mod)

15.6
0    15.6
Name: Screen, dtype: float64

In [10]:
# Fill missing values
fill = df['Screen'].fillna(screen_mod)

# Median
final_median = df['Screen'].median()
print(final_median)

15.6

No

In [11]:
# Q7 Sum of Weights

# Select innjoo brand
innjoo = df[df['Brand'] == 'Innjoo']
# Filter to RAM, storage and screen
filt = innjoo[["RAM", "Storage", "Screen"]]
# Make it to an array
X = np.array(filt)
# Multiply
XTX = X.T.dot(X)
# Get an inverse
XTX_inv = np.linalg.inv(XTX)
# Create an array
y = np.array([1100, 1300, 800, 900, 1000, 1100])
# Multiply
w = XTX_inv @ X.T @ y
# Sum
sum_w = w.sum()
# Display 
print("Sum of elements in w:", sum_w)

Sum of elements in w: 91.2998806299555